---
import { Image } from 'astro:assets';
import DoctorImage from '../assets/images/aboutUs.png'; // Asegúrate de tener la imagen en esta ruta // Asegúrate de tener la imagen en esta ruta
---

<section class="bg-gray-100 py-16">
  <div class="container mx-auto px-4 flex flex-col md:flex-row items-center justify-between">
    <!-- Columna Izquierda -->
    <div class="w-full md:w-1/2 text-center md:text-left">
      <h2 class="text-3xl font-extrabold text-gray-800 mb-4">Quiénes somos</h2>
        <div class="flex">
            <p class="text-lg text-gray-600 mb-6 flex">
                <span class="flex items-center justify-center w-6 h-6 bg-blue-600 text-white rounded-full mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 011.416 1.414L9 14.828l-4.121-4.121a1 1 0 111.414-1.414L9 12.586l7.707-7.707z" clip-rule="evenodd" />
                    </svg>
                </span>
            </p>
            <p class="text-lg text-gray-600 mb-6 max-w-md">
                <strong>Gestión Integral</strong><br>
                Simplificamos la administración médica con herramientas diseñadas para optimizar la gestión de pacientes, inventarios y consultas.
            </p>
        </div>
        <div class="flex">
            <p class="text-lg text-gray-600 mb-6 flex">
                <span class="flex items-center justify-center w-6 h-6 bg-blue-600 text-white rounded-full mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 011.416 1.414L9 14.828l-4.121-4.121a1 1 0 111.414-1.414L9 12.586l7.707-7.707z" clip-rule="evenodd" />
                    </svg>
                </span>
            </p>
            <p class="text-lg text-gray-600 mb-6 max-w-md">
                <strong>Optimización de Recursos</strong><br>
                Ofrecemos herramientas avanzadas para mantener un control preciso de los recursos médicos y optimizar los flujos de trabajo.
            </p>
        </div>
        <div class="flex">
            <p class="text-lg text-gray-600 mb-6 flex">
                <span class="flex items-center justify-center w-6 h-6 bg-blue-600 text-white rounded-full mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 011.416 1.414L9 14.828l-4.121-4.121a1 1 0 111.414-1.414L9 12.586l7.707-7.707z" clip-rule="evenodd" />
                    </svg>
                </span>
            </p>
            <p class="text-lg text-gray-600 mb-6 max-w-md">
                <strong>Conexión en Tiempo Real</strong><br>
                Garantizamos una comunicación efectiva entre profesionales y pacientes, mejorando la calidad de atención y la satisfacción del usuario.
            </p>
        </div>
        <div class="flex">
            <p class="text-lg text-gray-600 mb-6 flex">
                <span class="flex items-center justify-center w-6 h-6 bg-blue-600 text-white rounded-full mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 011.416 1.414L9 14.828l-4.121-4.121a1 1 0 111.414-1.414L9 12.586l7.707-7.707z" clip-rule="evenodd" />
                    </svg>
                </span>
            </p>
            <p class="text-lg text-gray-600 mb-6 max-w-md">
                <strong>Confianza y Seguridad</strong><br>
                Cumplimos con los más altos estándares en protección de datos, asegurando la privacidad de los registros médicos.
            </p>
        </div>
    </div>

    <!-- Columna Derecha -->
    <div class="w-full md:w-1/2 mt-8 md:mt-0">
      <div class="relative w-full min-h-96 bg-gray-200 rounded-lg overflow-hidden shadow-lg">
        <Image 
          src={DoctorImage} 
          alt="Sistema de Administración Médica" 
          class="object-cover w-full h-full"
        />
      </div>
    </div>
  </div>
</section>
